* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'IBM Plex Mono', monospace;
  }
  
  body {
    width: 100%;
  }
  
  .wrapper {
    width: 100%;
    background: var(--bg);
  }
  
  main, section {
    display: flex;
    margin-top: 60px;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
  }
  
  a:visited, a:link, a {
    text-decoration: none;
    color: black;
  }
  
  button:hover {
    background: var(--button-hover);
    cursor: pointer;
    color: var(--color-hover);
  }

  .dark {
    --bg: rgba(0, 0, 0, .3);
    --cards: rgb(51, 51, 51);
    --text: white;
    --menu: white;
    --button-hover: white;
    --color-hover: black;
  }

  .light {
    --bg: white;
    --cards: rgb(104, 104, 104);
    --border: 15px;
    --menu: black;
    --button-hover: rgb(49, 49, 49);
    --color-hover: white;
    --text: black;
  }

  .darkMode {
    position: fixed;
    bottom: 40px;
    right: 25px;
    width: 55px;
    height: 55px;
    display: grid;
    place-items: center;
    background-color: var(--button-hover);
    z-index: 1;
    border-radius: 5px;
  }